// VAR

// Son las variables a reutilizar en cada una de las paginas web

$primary: #2b4864;
$secondary: #f5be29;
$tertiary: #643816;
$light: #ffffff;
$dark: #000000;
$fontdosis: "Dosis", sans-serif;
$fontsource: "Source Sans 3", sans-serif;
$textsize1: 20px;
$textsize2: 30px;
$textsize3: 15px;
// VAR
